
body{
  background: var(--body-color);
  height: 100vh;
  padding-top: 2% !important;
  padding:  3%;
}
.contain{
  display: flex;
  align-items: space-between;
  align-content: flex-start;
  justify-content: space-between;
  margin-bottom: 1%;
}
.right{
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;

}
.search-container{
  display: flex ;
  justify-content: flex-end;
}
.search{
  width: 40%;
  margin-bottom: 1%;

}
.header{
  font-size: 30px;
  font-weight: 600;
  color: #333;
  margin-bottom: 1%;
  mat-icon{
    display: flex;
    align-items: center;
    font-size: 1rem;
    margin-right: 0;
  }
}

.mat-paginator-sticky {
  bottom: 0px;
  position: sticky;
  z-index: 10;
}


.card-wrapper{
  padding: 1%;
  display: flex;
  align-items: center;
  font-family: sans-serif;
  max-width: 30em;
  background-color: white;
  border-radius: 1em;
  line-height: 1.5em;
  cursor: pointer;


  img{
    width: 5em;
    height: 5em;
    border-radius: 5em;
    object-fit: cover;
    margin-right: 0.5em;
  }

  h3{
    font-size: 1.3rem;
    margin-bottom: 0 !important;
  }

  p{
    font-size: .8rem;
  }
}
