<body>
  <div class="contain">
    <div class="header">
        <header>4Ps Holder</header>
        <button *ngIf="account_type === 1 || account_type === 2" mat-raised-button color="primary" (click)="createbeneficiary()">Add 4ps Holder</button>
    </div>
      <div class="search-container">
        <mat-form-field appearance="outline" class="search">
          <mat-label>Search 4Ps Holder</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Search 4Ps Holder" #input>
        </mat-form-field>
      </div>
      <app-avatar *ngIf="!isMobileLayout"></app-avatar>
  </div>
  
  <div class="archived-buttons">
    <button mat-button color="primary" (click)="active()" [class.mat-mdc-raised-button]="!archived">
      Active
    </button>
    <button mat-button color="primary" (click)="getholderArchived()" [class.mat-mdc-raised-button]="archived">
      Archived
    </button>
  </div>
  <div class="table-container" *ngIf="archived == false">
      <table mat-table [dataSource]="alluserData" matSort > 
        <!-- header row -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns sticky: true"></tr>
        <!-- column -->
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <ng-container matColumnDef="accountuser_id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Household ID </th>
          <td mat-cell *matCellDef="let item">
              {{ item.householdid }}
          </td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td mat-cell *matCellDef="let item">
              {{ item.fullname}}
          </td>
      </ng-container>
      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Address </th>
        <td mat-cell *matCellDef="let item">
            {{ item.address }}
        </td>
      </ng-container>
      <ng-container matColumnDef="mobile_number">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Mobile Number </th>
        <td mat-cell *matCellDef="let item">
            {{ item.mobile_number }}
        </td>
      </ng-container>
      <ng-container matColumnDef="created">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Created By </th>
        <td mat-cell *matCellDef="let item">
            {{ item.assigned }}
        </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef > Action </th>
        <td mat-cell *matCellDef="let item">
              <button mat-icon-button (click)="viewItem(item.householdid)">
                <mat-icon> preview </mat-icon>
              </button>
              <button mat-icon-button (click)="updateItem(item.householdid)">
                <mat-icon> edit </mat-icon>
              </button>
              <button mat-icon-button (click)="deleteuser(item.householdid)">
                <mat-icon> person_remove </mat-icon>
              </button>
              <button mat-icon-button [routerLink]="'/home/householdbeneficiary/' + item.householdid">
                <mat-icon> format_list_bulleted </mat-icon>
              </button>
        </td>
    </ng-container>
      </table>
    <mat-paginator class="mat-paginator-sticky" #paginator [pageSizeOptions]="[10, 25, 100]" [pageSize]="10"
                [length]="alluserData.data.length"></mat-paginator>
  </div>
  <div class="table-container" *ngIf="archived == true">
    <table mat-table [dataSource]="archivedHolder" matSort > 
      <!-- header row -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns sticky: true"></tr>
      <!-- column -->
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <ng-container matColumnDef="accountuser_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Household ID </th>
        <td mat-cell *matCellDef="let item">
            {{ item.householdid }}
        </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let item">
            {{ item.fullname}}
        </td>
    </ng-container>
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Address </th>
      <td mat-cell *matCellDef="let item">
          {{ item.address }}
      </td>
    </ng-container>
    <ng-container matColumnDef="mobile_number">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Mobile Number </th>
      <td mat-cell *matCellDef="let item">
          {{ item.mobile_number }}
      </td>
    </ng-container>
    <ng-container matColumnDef="created">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Created By </th>
      <td mat-cell *matCellDef="let item">
          {{ item.assigned }}
      </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef > Action </th>
      <td mat-cell *matCellDef="let item">
            <button mat-icon-button (click)="viewItem(item.householdid)">
              <mat-icon> preview </mat-icon>
            </button>
            <button mat-icon-button (click)="restoreholder(item.householdid)">
              <mat-icon> restore_page </mat-icon>
            </button>
      </td>
  </ng-container>
    </table>
  <mat-paginator class="mat-paginator-sticky" #paginator [pageSizeOptions]="[10, 25, 100]" [pageSize]="10"
              [length]="archivedHolder.data.length"></mat-paginator>
</div>
</body>
