
body{
  background: var(--body-color);
  height: 100vh;
  padding-top: 2% !important;
  padding:  3%;
}
.contain{
  display: flex;
  align-items: space-between;
  align-content: flex-start;
  justify-content: space-between;
  margin-bottom: 1%;
}

.search-container{
  display: flex ;
  justify-content: flex-end;
}
.search{
  width: 40%;
  margin-bottom: 1%;

}
.header{
  font-size: 30px;
  font-weight: 600;
  color: #333;
  margin-bottom: 1%;
  mat-icon{
    display: flex;
    align-items: center;
    font-size: 1rem;
    margin-right: 0;
  }
}

.mat-paginator-sticky {
  bottom: 0px;
  position: sticky;
  z-index: 10;
}

