
<body>
    <div class="title">
      <header>{{data.title}}</header>
      <button mat-fab disabled *ngIf="this.beneStatus == 2">
        <mat-icon>pending</mat-icon>
        
      </button>
      <button mat-fab class="disabled" color="primary" *ngIf="this.beneStatus == 1">
        <mat-icon>recommend</mat-icon>
      </button>
      <button mat-fab class="disabled" color="warn" *ngIf="this.beneStatus == 3">
        <mat-icon>recommend</mat-icon>
        
      </button>
    </div>
    <div class="first-info">
            <div class="control-container">
                <div class="image-container">
                  <img
                    *ngIf="imagePreview"
                    [src]="imagePreview"
                    alt="Photo"
                  />
                  <img
                    *ngIf="!imagePreview"
                    [src]="fileUrl"
                    alt="Photo"
                  />
                </div>
                <input
                  #inputField
                  hidden
                  type="file" 
                  accept="image/*"
                  (change)="selectFile($event)"
                  (click)="inputField.value = ''"
                />
                <button mat-raised-button (click)="inputField.click()" class="image-select">
                  Select Photo
                </button>
              </div>
        <div class="name">
          <form [formGroup]="childbeneficiary">
            <mat-form-field class="full-width" appearance="outline" hideRequiredMarker="true">
              <mat-label>First Name</mat-label>
              <input matInput type="text" placeholder="First Name" id="inputEmail4" formControlName="fname" readonly>
            </mat-form-field>
            <mat-form-field class="full-width" appearance="outline" hideRequiredMarker="true">
              <mat-label>Last Name</mat-label>
              <input matInput type="text" placeholder="Last Name" id="inputEmail4" formControlName="lname" readonly>
            </mat-form-field>
          </form>
        </div>

    </div>
      <div class="second-info">
        <form [formGroup]="childbeneficiary">
          <mat-form-field appearance="outline" class="width-100" hideRequiredMarker="true">
            <mat-label>Status</mat-label>
            <mat-select formControlName="status">
              <mat-option *ngFor="let item of status" [value]="item.value">
                {{item.status}}
              </mat-option>
            </mat-select>
            <mat-error class="error-message">
              <span *ngIf="childbeneficiary.controls.status.touched">This field is required.</span>
            </mat-error>
          </mat-form-field>
          <br>
          <mat-form-field appearance="outline" class="width-100" hideRequiredMarker="true" *ngIf="childbeneficiary.controls.status.value == 1 || childbeneficiary.controls.status.value == 2 || childbeneficiary.controls.status.value == 3 || childbeneficiary.controls.status.value == 5 || childbeneficiary.controls.status.value == 6 || childbeneficiary.controls.status.value == 7">
            <mat-label>School Name currently studying</mat-label>
            <mat-select formControlName="schoolname" >
              <mat-option *ngFor="let item of schoolnames" [value]="item.schoolName">
                {{item.schoolName}}
              </mat-option>
            </mat-select>
            <mat-error class="error-message">
              <span *ngIf="childbeneficiary.controls['schoolname'].errors?.touched || childbeneficiary.controls['schoolname'].errors?.required">This field is required.</span>
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="width-100" hideRequiredMarker="true" *ngIf="childbeneficiary.controls.status.value == 1">
            <mat-label>Elementary School Name</mat-label>
            <mat-select formControlName="elemschool" >
              <mat-option *ngFor="let item of schoolnames" [value]="item.schoolName">
                {{item.schoolName}}
              </mat-option>
            </mat-select>
            <mat-error class="error-message">
              <span *ngIf="childbeneficiary.controls['elemschool'].errors?.touched || childbeneficiary.controls['elemschool'].errors?.required">This field is required.</span>
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="width-100" hideRequiredMarker="true" *ngIf="childbeneficiary.controls.status.value == 1">
            <mat-label>Elementary School Address</mat-label>
            <mat-select formControlName="elemaddress" >
              <mat-option *ngFor="let item of barangay" [value]="item.barangay">
                {{item.barangay}}
              </mat-option>
            </mat-select>
            <mat-error class="error-message">
              <span *ngIf="childbeneficiary.controls['elemaddress'].errors?.touched || childbeneficiary.controls['elemaddress'].errors?.required">This field is required.</span>
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="width-100" hideRequiredMarker="true" *ngIf=" childbeneficiary.controls.status.value == 2">
            <mat-label>Junior High School Name</mat-label>
            <mat-select formControlName="junschool" >
              <mat-option *ngFor="let item of schoolnames" [value]="item.schoolName">
                {{item.schoolName}}
              </mat-option>
            </mat-select>
            <mat-error class="error-message">
              <span *ngIf="childbeneficiary.controls['junschool'].errors?.touched || childbeneficiary.controls['junschool'].errors?.required">This field is required.</span>
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="width-100" hideRequiredMarker="true" *ngIf=" childbeneficiary.controls.status.value == 2">
            <mat-label>Junior High School Address</mat-label>
            <mat-select formControlName="junaddress" >
              <mat-option *ngFor="let item of barangay" [value]="item.barangay">
                {{item.barangay}}
              </mat-option>
            </mat-select>
            <mat-error class="error-message">
              <span *ngIf="childbeneficiary.controls['junaddress'].errors?.touched || childbeneficiary.controls['junaddress'].errors?.required">This field is required.</span>
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="width-100" hideRequiredMarker="true" *ngIf=" childbeneficiary.controls.status.value == 3">
            <mat-label>Senior High School Name</mat-label>
            <mat-select formControlName="shschoolname" >
              <mat-option *ngFor="let item of schoolnames" [value]="item.schoolName">
                {{item.schoolName}}
              </mat-option>
            </mat-select>
            <mat-error class="error-message">
              <span *ngIf="childbeneficiary.controls['shschoolname'].errors?.touched || childbeneficiary.controls['shschoolname'].errors?.required">This field is required.</span>
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="width-100" hideRequiredMarker="true" *ngIf=" childbeneficiary.controls.status.value == 3">
            <mat-label>Senior High School Address</mat-label>
            <mat-select formControlName="scschooladdress" >
              <mat-option *ngFor="let item of barangay" [value]="item.barangay">
                {{item.barangay}}
              </mat-option>
            </mat-select>
            <mat-error class="error-message">
              <span *ngIf="childbeneficiary.controls['scschooladdress'].errors?.touched || childbeneficiary.controls['scschooladdress'].errors?.required">This field is required.</span>
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="width-100" hideRequiredMarker="true" *ngIf=" childbeneficiary.controls.status.value == 3">
            <mat-label>Senior High School Course</mat-label>
            <input matInput type="text" formControlName="snhcourse" placeholder="Course">
            <mat-error class="error-message">
              <span *ngIf="childbeneficiary.controls['snhcourse'].errors?.touched || childbeneficiary.controls['snhcourse'].errors?.required">This field is required.</span>
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="width-100" hideRequiredMarker="true" *ngIf=" childbeneficiary.controls.status.value == 6 || childbeneficiary.controls.status.value == 7 || childbeneficiary.controls.status.value == 11">
            <mat-label>TESDA Course</mat-label>
            <input matInput type="text" formControlName="tesdacourse" placeholder="Course">
            <mat-error class="error-message">
              <span *ngIf="childbeneficiary.controls['tesdacourse'].errors?.touched || childbeneficiary.controls['tesdacourse'].errors?.required">This field is required.</span>
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="width-100" hideRequiredMarker="true" *ngIf="childbeneficiary.controls.status.value == 5">
            <mat-label>College School Name</mat-label>
            <mat-select formControlName="collegeschoolname" >
              <mat-option *ngFor="let item of schoolnames" [value]="item.schoolName">
                {{item.schoolName}}
              </mat-option>
            </mat-select>
            <mat-error class="error-message">
              <span *ngIf="childbeneficiary.controls['collegeschoolname'].errors?.touched || childbeneficiary.controls['collegeschoolname'].errors?.required">This field is required.</span>
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="width-100" hideRequiredMarker="true" *ngIf=" childbeneficiary.controls.status.value == 5">
            <mat-label>College School Address</mat-label>
            <mat-select formControlName="collegeaddress" >
              <mat-option *ngFor="let item of barangay" [value]="item.barangay">
                {{item.barangay}}
              </mat-option>
            </mat-select>
            <mat-error class="error-message">
              <span *ngIf="childbeneficiary.controls['collegeaddress'].errors?.touched || childbeneficiary.controls['collegeaddress'].errors?.required">This field is required.</span>
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="width-100" hideRequiredMarker="true" *ngIf=" childbeneficiary.controls.status.value == 5">
            <mat-label>College Course</mat-label>
            <input matInput type="text" formControlName="collegecourse" placeholder="Course">
            <mat-error class="error-message">
              <span *ngIf="childbeneficiary.controls['collegecourse'].errors?.touched || childbeneficiary.controls['collegecourse'].errors?.required">This field is required.</span>
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="width-100" hideRequiredMarker="true" *ngIf=" childbeneficiary.controls.status.value == 8 || childbeneficiary.controls.status.value == 10 || childbeneficiary.controls.status.value == 8 || childbeneficiary.controls.status.value == 12">
            <mat-label>Work</mat-label>
            <input matInput type="text" formControlName="work" placeholder="Work">
            <mat-error class="error-message">
              <span *ngIf="childbeneficiary.controls['work'].errors?.touched || childbeneficiary.controls['work'].errors?.required">This field is required.</span>
            </mat-error>
          </mat-form-field>
            <div *ngIf="childbeneficiary.controls.status.value == 1 || childbeneficiary.controls.status.value == 2 || childbeneficiary.controls.status.value == 3 || childbeneficiary.controls.status.value == 5 || childbeneficiary.controls.status.value == 6 || childbeneficiary.controls.status.value == 7 || childbeneficiary.controls.status.value == 4 || childbeneficiary.controls.status.value == 9 || childbeneficiary.controls.status.value == 11">
                <div class="file-upload-header">
                    <header>Upload File Proof Document</header>
                </div>
                <div class="wrapper">
                        <input type="file" class="file-input"
                        accept="file/*"
                        (change)="selectFileUpload($event)" #fileUpload>
                    <div class="file-upload">
                        {{fileName || "No file uploaded yet."}}
                        <button mat-mini-fab color="primary" class="upload-btn"
                        (click)="fileUpload.click()">
                            <mat-icon class="file-icon">attach_file</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
            
        </form>
    </div>
        <button mat-raised-button color="primary" (click)="update()">Update</button>
        <button mat-raised-button color="warn" class="actions" class="ml-2" (click)="closepopup()">Close</button>
</body>

