
.card-wrapper{
  padding: 10px;
  display: flex;
  align-items: center;
  font-family: sans-serif;
  max-width: 100%;
  background-color: white;
  border-radius: 13px;
  line-height: 13px;
  cursor: pointer;
  position: absolute;
  top: 1%;
  right: 1%;
  z-index: 1;
  img{
    width: 5em;
    height: 5em;
    border-radius: 5em;
    object-fit: cover;
    margin-right: 0.5em;
  }

  h3{
    font-size: 1.3rem;
    margin-bottom: 0 !important;
  }

  p{
    font-size: .8rem;
  }
}
