body{
  background: var(--body-color);
  padding-top: 2% !important;
  padding: 3%;
  overflow-y: auto;
  max-height: 90vh;
}

.user-image{
  height: 30%;
  img{
    border-radius: 50%;
    width:39%;
  }
}
.name {
  top: 0%;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0;
  margin: 0;
}
.mat-grid-list{
  padding: 3%;
}
.image{
  top: 0%;
  left: 0;
  right: 1%;
  bottom: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-right: 5%;
  margin: 0;
}
.full-width {
  width: 100%;
}

.first-info{
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  margin-bottom: 3% ;
}
form{
  padding-top: 1%
}
.title{
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  padding: 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 1%;
}
header{
  font-size: 20px;
    font-weight: 600;
    color: #333;
}

.second-info{
  background-color: #fff;
  padding: 3%;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 2%;
}

img {
  border: solid 3px #007E94;
}

.content {
  padding: 3%;
  height: 90%;
  max-width: 100%; /* Set a fixed height for the content */
  overflow: auto;
}

.actions{
  margin-left: 1%;
}

button.disabled {
  pointer-events: none;
}
.file-icon{
  color: #fff
}

.wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: aliceblue;
  padding: 3%;
  flex-direction: column;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 13px;
}

.file-upload{
  display: flex;
  align-items: center;
  padding: 3%;
  justify-content: space-around;
}
