<body>
  <div class="user-information" *ngIf="account_type === 1 || account_type === 2">
    <div class="title">
      <header>{{data.title}}</header>
    </div>
    <div class="first-info">
      <div class="control-container">
        <div class="image-container">
          <img
            *ngIf="imagePreview"
            [src]="imagePreview"
            alt="Photo"
          />
          <img
            *ngIf="!imagePreview"
            [src]="fileUrl"
            alt="Photo"
          />
        </div>
        <input
          #inputField
          hidden
          type="file" 
          accept="image/*"
          (change)="selectFile($event)"
          (click)="inputField.value = ''"
        />
        <button mat-raised-button (click)="inputField.click()" class="image-select">
          Select Photo
        </button>
      </div>
    </div>
    <div class="second-info">
      <form [formGroup]="profileForm">
        <mat-form-field class="full-width" appearance="outline" hideRequiredMarker="true">
          <mat-label>Household ID</mat-label>
          <input matInput type="text" placeholder="Household ID" id="inputEmail4" formControlName="householdid" >
        </mat-form-field>
        <mat-form-field class="full-width" appearance="outline" hideRequiredMarker="true">
          <mat-label>First Name</mat-label>
          <input matInput type="text" placeholder="Firstname" id="inputEmail4" formControlName="fname" >
        </mat-form-field>
        <mat-form-field class="full-width" appearance="outline" hideRequiredMarker="true">
          <mat-label>Middle Name</mat-label>
          <input matInput type="text" placeholder="Middle Name" id="inputEmail4" formControlName="mname" >
        </mat-form-field>
        <mat-form-field class="full-width" appearance="outline" hideRequiredMarker="true">
          <mat-label>Last Name</mat-label>
          <input matInput type="text" placeholder="Last Name" id="inputEmail4" formControlName="lname" >
        </mat-form-field>
        <mat-form-field class="full-width" appearance="outline" hideRequiredMarker="true">
          <mat-label>Birthdate</mat-label>
          <input matInput type="text" placeholder="Birthdate" id="inputEmail4" formControlName="birthdate" >
        </mat-form-field>
        <mat-form-field class="full-width" appearance="outline" hideRequiredMarker="true">
          <mat-label>Barangay</mat-label>
          <mat-select formControlName="address" [compareWith]="compareBarangayObjects">
            <mat-option *ngFor="let item of barangay" [value]="item.barangay">
              {{ item.barangay }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="full-width" appearance="outline" hideRequiredMarker="true">
          <mat-label>Marital Status</mat-label>
          <input matInput type="text" placeholder="Marital Status" id="inputEmail4" formControlName="maritalstatus" >
        </mat-form-field>
        <mat-form-field class="full-width" appearance="outline" hideRequiredMarker="true">
          <mat-label>Mobile Number</mat-label>
          <input matInput type="text" placeholder="Mobile Number" id="inputEmail4" formControlName="mobile_number" >
        </mat-form-field>
        <mat-form-field class="full-width" appearance="outline" hideRequiredMarker="true">
          <mat-label>Spouse Name</mat-label>
          <input matInput type="text" placeholder="Spouse Name" id="inputEmail4" formControlName="spoucename" >
        </mat-form-field>
        <mat-form-field class="full-width" appearance="outline" hideRequiredMarker="true">
          <mat-label>Spouse Birthdate</mat-label>
          <input matInput type="text" placeholder="Spouse Name" id="inputEmail4" formControlName="spoucebirthdate" >
        </mat-form-field>
        <mat-form-field class="full-width" appearance="outline" hideRequiredMarker="true">
          <mat-label>Created By</mat-label>
          <input matInput type="text" placeholder="Created By" id="inputEmail4" formControlName="assigned" readonly>
        </mat-form-field>
      </form>
    </div>
  </div>
  <button mat-raised-button color="warn" (click)="closepopup()">Close</button>
  <button mat-raised-button color="primary" (click)="update()">Update</button>
</body>

